.container {
    background-color: rgba(254, 254, 254, 0.284);
    padding: 1em;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(48, 43, 43, 0.284);
    text-align: center;
    width: 250px; /* Ancho fijo para los productos */
    box-sizing: border-box; /* Incluye el padding en el cálculo del ancho */
    margin-bottom: 1em; /* Espacio entre filas de productos */
    margin: 2em 0;
    display: flex;
    flex-direction: column; /* Alinea los elementos verticalmente */
    justify-content: space-between; /* Espacio entre los elementos */
    min-height: 400px; /* Altura mínima para mantener la consistencia */
}

.container img {
    width: 100%; /* La imagen ocupa todo el ancho del contenedor del producto */
    height: 250px; /* Altura fija para las imágenes */
    object-fit: cover; /* Ajusta la imagen para llenar el contenedor sin distorsionar */
    display: block;
    margin: 0 auto; /* Centra la imagen */
}

.DetailButton {
    background-color: rgb(212, 164, 224);
    color: rgb(255, 255, 255);
    padding: 0.5em 1em;
    border: 2px white solid;
    border-radius: 5px;; /* Border-radius aplicado */
    cursor: pointer; /* Cambia el cursor a una mano */
    margin-top: auto; /* Empuja el botón al final del contenedor */
    text-align: center;
}

.DetailButton:hover {
    background-color: white;
    color: rgb(212, 164, 224);
    border: 2px solid rgb(212, 164, 224);
    border-radius: 5px; /* Border-radius debe cerrarse con punto y coma */
}

.precio {
    font-size: 1.2em;
    font-weight: bold;
    margin: 10px 0;
    color: #000;
  }