* {
  box-sizing: border-box; /* Hace que el padding y los bordes se incluyan en el ancho total del elemento */
}


body {  background-color: white; /* Color de fondo para toda la página */
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  font-size: 30px;
  color: rgb(212, 164, 224);
  margin: 0;
  flex-grow: 1; 
  text-align: center; 
}

h2 {
  color: #7c7c7c;
  text-align: center;
  margin-top: 20px;
}

.headerOptions {
/*   border: 1px solid red; */
  background-color: white;
  display: flex; 
  align-items: center; 
  justify-content: space-between; /* Centra horizontalmente el contenido */
  width: 100%;

}

/* Estilo para el link de mora*/
.headerOptions h1 {
  font-size: 30px;
  color: rgb(212, 164, 224);
  margin: 0;
  text-align: center; 
}

/* Eliminamos el subrayado de mora*/
.headerOptions a {
text-decoration: none; 
color: inherit; 
}

#verCarrito {
  background: none; 
  border: none;
  padding: 0; 
  cursor: pointer;
}

#verCarrito img {
  display: block; 
  width: 80px; 
  height: 80px;
}

.cart-container {
position: relative;
display: flex;
justify-content: flex-end;
align-items: center;

}

/* numerito del carrito je */
.numero-carrito {
  position: absolute;
  top: 10px; 
  right: 30px; 
  background-color: rgb(212, 164, 224); 
  color: white;
  border-radius: 50%;
  padding: 5px 10px;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
}


/* menú hamburguesa */
.menu-btn {
  background-color: transparent;
  border: none;
  font-size: 30px;
  cursor: pointer;
  margin-left: 10px;
  
  color:  rgb(212, 164, 224);
}

/* menú desplegable hamburguesa */
.menu {
  position: absolute;
  top: 50px;
  left: 40px;
  background-color: white;
  border: 1px solid #ddd;
  padding: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  justify-content: space-between; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu li {
  margin: 10px 0;
}

.menu a {
  text-decoration: none;
  color: #7c7c7c;
  font-weight: bold;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.menu a:hover {
  color: rgb(212, 164, 224); 
}

.notActive {
  display: block;
  color: #7c7c7c; 
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background-color: white; 
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

/* Hover para los enlaces no activos */
.notActive:hover {
  background-color: rgba(212, 164, 224, 0.2); 
}

/* Estilo para los enlaces activos */
.isActive {
  color: rgb(212, 164, 224); /* Cuando el enlance está activo queda de este color */
  font-weight: bold;
  background-color: rgba(212, 164, 224, 0.1); 
}


.brand-logo:hover {
  color: rgb(212, 164, 224); 
}